<template>
  <div class="editor-toolbar">
    <slot useDefaultTitle="useDefaultTitle"></slot>
  </div>
</template>

<script>
export default {
  name: 'editor-toolbar',
  components: {
  },
  props: {
    editor: { required: true },
    useDefaultTitle: { required: false, type: String | Boolean, default: true }
  },
  data () {
    return {
    }
  },
  computed: {
  },
  watch: {
  },
  methods: {
  },
  mounted () {
    // console.log(this.editor)
  },
  created () {
  }
}
</script>

<style scoped>
</style>

<style>
.editor-toolbar {
}
</style>
