<template>
  <component
    v-if="isQuillFunc"
    :title="useTitle"
    :is="tag"
    class="editor-toolbar-item"
    :class="qlClass"
    :value="qlValue">
    <slot></slot>
  </component>
  <span
    :title="useTitle"
    class="editor-toolbar-item"
    :class="myClass"
    v-else>
    <slot></slot>
    <svgicon
      v-if="useDefaultIcon"
      :icon="iconName"></svgicon>
  </span>
</template>

<script>
import { items as toolbarObjs } from './scripts/toolbar-items.js'
import './icons/index.js'

export default {
  name: 'editor-toolbar-item',
  components: {
  },
  props: {
    func: { required: true, type: String },
    option: { required: false, type: Array },
    useDefaultTitle: { required: false, type: String | Boolean, default: true }
  },
  data () {
    return {
    }
  },
  computed: {
    useDefaultIcon () {
      return (this.$slots.default === undefined)
    },
    toolbarObj () {
      if (this.isQuillFunc) return toolbarObjs.quill[this.func]
      else return toolbarObjs.other[this.func]
    },
    isQuillFunc () {
      if (toolbarObjs.quill[this.func]) return true
      else return false
    },
    tag () {
      return this.toolbarObj.tag
    },
    qlClass () {
      return this.toolbarObj.class
    },
    qlValue () {
      return this.toolbarObj.value
    },
    myClass () {
      return this.toolbarObj.class
    },
    iconName () {
      return this.toolbarObj.icon
    },
    useTitle () {
      let useTitle = null
      if (this.title) {
        useTitle = this.title
      } else {
        if (['en', 'zh'].includes(this.useDefaultTitle)) {
          let lang = this.useDefaultTitle
          useTitle = this.toolbarObj.title[lang]
        } else if (this.useDefaultTitle) {
          useTitle = this.toolbarObj.title['en']
        }
      }
      return useTitle
    }
  },
  watch: {
  },
  methods: {
  },
  mounted () {
    if (this.isQuillFunc && !this.useDefaultIcon) {
      if (['color', 'background'].includes(this.func)) {
        this.$nextTick(() => {
          let tmp = this.$el.children[0]
          this.$el.children[0].remove()
          let tar = this.$el.previousSibling.querySelector('.ql-picker-label')
          tar.children[0].remove()
          tar.appendChild(tmp)
        })
      } else if (['header', 'size', 'font'].includes(this.func)) {
      } else {
        let tmp = this.$el.children[0]
        this.$nextTick(() => {
          this.$el.children[0].remove()
          this.$el.appendChild(tmp)
        })
      }
    }
  },
  created () {
  }
}
</script>

<style src="./style/svgicon.css"></style>
<style src="./style/myicon.css"></style>

<style scoped>
</style>

<style>
.editor-toolbar-item {
  display: inline-block;
  float: left;
  cursor: pointer;
}
</style>
