<template>
  <div class="editor-content"></div>
</template>

<script>
export default {
  name: 'editor-content',
  components: {
  },
  props: {
  },
  data () {
    return {
    }
  },
  computed: {
  },
  watch: {
  },
  methods: {
  },
  mounted () {
  },
  created () {
  }
}
</script>

<style scoped>
.editor-content >>> .ql-editor {
  width: 100%;
  height: 100%;
}
</style>

<style>
.editor-content {
  border: none;
  /*border: 1px solid #ccc !important;*/
}
</style>
