<template>
  <div class="editor">
    <slot :editor="editor"></slot>
    <input
      ref="fileInput"
      type="file"
      accept="image/*"
      style="display:none;"
      @change="emitImageInfo($event)"/>
  </div>
</template>

<script>
import { QuillEditor } from './scripts/editor.js'

export default {
  name: 'editor',
  components: {
  },
  props: {
    value: { required: true, type: String, default: '' },
    useMarkdownShortcuts: { required: false, type: Boolean, default: false },
    editable: { required: false, type: Boolean, default: true }
  },
  data () {
    return {
      editor: {},
      quill: null
    }
  },
  computed: {
  },
  watch: {
    editable (newValue) {
      this.quill.enable(newValue)
    }
  },
  methods: {
    updateContent (newValue) {
      this.editor.updateContent(newValue)
    },

    emitImageInfo ($event) {
      const resetUploader = () => { this.$refs.fileInput.value = '' }
      let file = $event.target.files[0]
      let Editor = this.editor.quill
      let range = Editor.getSelection()
      let cursorLocation = range.index
      this._handleImageAdded(file, Editor, cursorLocation, resetUploader)
    },

    handleSelectionChange (range, oldRange) {
      if (!range && oldRange) this.$emit('blur', this.quill)
      else if (range && !oldRange) this.$emit('focus', this.quill)
    },

    handleTextChange (delta, oldContents) {
      let editorContent =
        this.quill.getHTML() === '<p><br></p>' ? '' : this.quill.getHTML()
      this.$emit('input', editorContent)
    },

    handleImageRemoved (delta, oldContents) {
      const currrentContents = this.quill.getContents()
      const deletedContents = currrentContents.diff(oldContents)
      const operations = deletedContents.ops

      operations.map(operation => {
        if (operation.insert && operation.insert.hasOwnProperty('image')) {
          const { image } = operation.insert
          this.$emit('image-removed', image)
        }
      })
    },

    _handleImageAdded (file, Editor, cursorLocation, resetUploader) {
      const insertEmbed = (id, url) => {
        Editor.insertEmbed(cursorLocation, 'image', {id: id, url: url})
        resetUploader()
      }
      this.$emit('image-added', file, insertEmbed)
    },

    handleEventListeners (type, ...args) {
      this.$emit(type, ...args)
    },
    customImageHandler (image, callback) {
      this.$refs.fileInput.click()
    },
    clickRedo () {
      this.quill.history.redo()
    },
    clickUndo () {
      this.quill.history.undo()
    }
  },
  mounted () {
    let options = {
      debug: false,
      theme: 'snow',
      placeholder: this.placeholder ? this.placeholder : '',
      readOnly: this.disabled ? this.disabled : false
    }
    let config = {
      content: this.value,
      contentDom: this.$el.querySelector('.editor-content'),
      toolbar: {
        container: this.$el.querySelector('.editor-toolbar'),
        handlers: {
          image: this.customImageHandler
        }
      },
      history: {
        delay: 200,
        maxStack: 10,
        userOnly: true
      },
      modules: {
      },
      handleSelectionChange: this.handleSelectionChange.bind(this),
      handleTextChange: this.handleTextChange.bind(this),
      handleImageRemoved: this.handleImageRemoved.bind(this),
      handleEventListeners: this.handleEventListeners.bind(this),
      useMarkdownShortcuts: this.useMarkdownShortcuts
    }
    let editor = new QuillEditor(config, options)
    this.quill = editor.quill
    this.editor.quill = editor.quill
    this.editor.updateContent = editor.updateContent
  },
  created () {
  }
}
</script>

<style scoped>
</style>

<style src="quill/dist/quill.snow.css"></style>
<style src="./style/quill.css"></style>
