<template>
  <div
    class="ql-snow editor-preview"
    :style="paperStyle"
    ref="container">
    <div class="ql-editor editor-preview-container" v-html="content"></div>
  </div>
</template>

<script>
export default {
  name: 'editor-preview',
  components: {
  },
  props: {
    paper: {
      required: false,
      type: Object,
      default: () => { return { paper: 'A4' } }
    },
    content: { required: false, type: String, default: '' }
  },
  data () {
    return {
    }
  },
  computed: {
    paperStyle () {
      let paperMap = {
        A4: { width: '21.0cm', height: '29.7cm' }
      }
      function getDefaultPaper () {
        return {
          'width': paperMap['A4'].width,
          'height': paperMap['A4'].height
        }
      }
      function getDefaultPadding () {
        return {
          'padding-top': '20px',
          'padding-bottom': '20px',
          'padding-right': '20px',
          'padding-left': '20px'
        }
      }
      let style = {}
      let paper = this.paper.paper
      if (!paper) {
        style = Object.assign(style, getDefaultPaper)
      } else if (typeof paper === 'string') {
        if (paperMap[paper]) {
          style = Object.assign(style, {
            'width': paperMap[paper].width,
            'height': paperMap[paper].height
          })
        } else {
          style = Object.assign(style, getDefaultPaper)
        }
      } else if (paper instanceof Object) {
        if (typeof paper.width === 'string') {
          style = Object.assign(style, { 'width': paper.width })
        } else if (typeof paper.width === 'number') {
          style = Object.assign(style, { 'width': paper.width + 'px' })
        }
        if (typeof paper.height === 'string') {
          style = Object.assign(style, { 'height': paper.height })
        } else if (typeof paper.height === 'number') {
          style = Object.assign(style, { 'height': paper.height + 'px' })
        }
        if (style.height & style.width) {
        } else if (style.height) {
          style.width = style.height
        } else if (style.width) {
          // style.height = style.width
          style.height = 'fit-content'
        } else {
          style = Object.assign(style, getDefaultPaper)
        }
      }
      let padding = this.paper.padding
      style = Object.assign(style, getDefaultPadding)
      if (padding instanceof Object) {
        for (let j = 0; j < 4; j++) {
          let prop = ['top', 'left', 'right', 'bottom'][j]
          if (padding[prop]) {
            if (typeof padding[prop] === 'string') {
              style['padding-' + prop] = padding[prop]
            } else if (typeof padding[prop] === 'number') {
              style['padding-' + prop] = padding[prop] + 'px'
            }
          }
        }
      }
      return style
    }
  },
  watch: {
  },
  methods: {
  },
  mounted () {
  },
  created () {
  }
}
</script>

<style src="quill/dist/quill.snow.css"></style>
<style src="./style/quill.css"></style>

<style scoped>
</style>

<style>
.editor-preview {
  background-color: #FFFFFF;
}
.editor-preview-container {
  padding: 0;
  background-color: #FFFFFF;
  border: 1px dashed #9A9A9A;
}
</style>
