.ql-editor {
  min-height: 200px;
  font-size: 16px;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-container.ql-snow {
  border: none;
}

.ql-container.ql-snow.print {
  border: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
  height: fit-content !important;
  width: 100% !important;
  overflow: hidden !important;
}

.ql-editor.print {
  overflow: unset;
  border: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
  height: fit-content !important;
  width: 100% !important;
  overflow-wrap: break-word !important;
  overflow: hidden !important;
}

.ql-snow .ql-stroke.ql-thin,
.ql-snow .ql-thin {
  stroke-width: 1px !important;
}

.quillWrapper .ql-snow.ql-toolbar {
  /*
  padding-top: 8px;
  padding-bottom: 4px;
   */
  padding: 0px;
  margin: 0px;
}
.quillWrapper .ql-snow.ql-toolbar .ql-formats {
  /*
  margin-bottom: 10px;
   */
}

.ql-snow .ql-toolbar button svg,
.quillWrapper .ql-snow.ql-toolbar button svg {
  width: 22px;
  height: 22px;
}

.quillWrapper .ql-editor ul[data-checked=false] > li::before,
.quillWrapper .ql-editor ul[data-checked=true] > li::before {
  font-size: 1.35em;
  vertical-align: baseline;
  bottom: -0.065em;
  font-weight: 900;
  color: #222;
}

.ql-snow .ql-editor img {
    margin: 10px;
}

.quillWrapper .ql-snow .ql-stroke {
  stroke: rgba(63, 63, 63, 0.95);
  stroke-linecap: square;
  stroke-linejoin: initial;
  stroke-width: 1.7px;
}

.ql-picker-label {
  font-size: 15px;
  text-align: right;
}

.ql-picker-label::before {
  margin-right: 17px;
}

.quillWrapper .ql-snow .ql-active .ql-stroke {
  stroke-width: 2.25px;
}

.quillWrapper .ql-toolbar.ql-snow .ql-formats {
  vertical-align: top;
}

.ql-picker:not(.ql-background) {
  position: relative;
  top: 2px;
}
.ql-picker.ql-color-picker svg {
  width: 22px !important;
  height: 22px !important;
}

.quillWrapper .imageResizeActive img {
  display: block;
  cursor: pointer;
}

.quillWrapper .imageResizeActive ~ div svg {
  cursor: pointer;
}

