/* recommended css code for vue-svgicon */
.svg-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
    transform: inherit;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.svg-up {
    /* default */
    transform: rotate(0deg);
}

.svg-right {
    transform: rotate(90deg);
}

.svg-down {
    transform: rotate(180deg);
}

.svg-left {
    transform: rotate(-90deg);
}
