<template>
  <div class="root">
    <h1> More Handlers </h1>
    <Editor
      v-model="content"
      v-slot:default="editor"
      @focus="onEditorFocus"
      @blur="onEditorBlur"
      @text-change="handleTextChange"
      @editor-change="handleEditorChange"
      @selection-change="handleSelectionChange"
      useMarkdownShortcuts>
      <editor-toolbar
        :useDefaultTitle="true"
        :editor="editor">
        <editor-toolbar-item func="print"/>
        <editor-toolbar-item func="export-html"/>
        <editor-toolbar-item func="undo"/>
        <editor-toolbar-item func="redo"/>
        <editor-toolbar-item func="header"/>
        <editor-toolbar-item func="size"/>
        <editor-toolbar-item func="font"/>
        <editor-toolbar-item func="bold"/>
        <editor-toolbar-item func="italic"/>
        <editor-toolbar-item func="underline"/>
        <editor-toolbar-item func="strike"/>
        <editor-toolbar-item func="color"/>
        <editor-toolbar-item func="background"/>
        <editor-toolbar-item func="align-left"/>
        <editor-toolbar-item func="align-center"/>
        <editor-toolbar-item func="align-right"/>
        <editor-toolbar-item func="align-justify"/>
        <editor-toolbar-item func="blockquote"/>
        <editor-toolbar-item func="code-block"/>
        <editor-toolbar-item func="list-ordered"/>
        <editor-toolbar-item func="list-bullet"/>
        <editor-toolbar-item func="list-check"/>
        <editor-toolbar-item func="indent-minus"/>
        <editor-toolbar-item func="indent-plus"/>
        <editor-toolbar-item func="subscript"/>
        <editor-toolbar-item func="superscript"/>
        <editor-toolbar-item func="link"/>
        <editor-toolbar-item func="clean"/>
      </editor-toolbar>
      <editor-content
        :editor="editor">
      </editor-content>
    </Editor>
    <div
      ref="console"
      class="console"
      ></div>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      content: '<h1>Initial Content</h1>',
      logHtml: ''
    }
  },
  methods: {
    handleTextChange (obj) {
      console.log('TCL: handleTextChange')
      this.$refs.console.innerHTML =
        'handleTextChange!</br>' + this.$refs.console.innerHTML
    },
    handleEditorChange (obj) {
      console.log('TCL: handleEditorChange')
      this.$refs.console.innerHTML =
        'handleEditorChange!<br>' + this.$refs.console.innerHTML
    },
    handleSelectionChange (obj) {
      console.log('TCL: handleSelectionChange')
      this.$refs.console.innerHTML =
        'handleSelectionChange!<br>' + this.$refs.console.innerHTML
    },
    onEditorBlur (quill) {
      console.log('editor blur!')
      this.$refs.console.innerHTML =
        'editor blur!<br>' + this.$refs.console.innerHTML
    },
    onEditorFocus (quill) {
      console.log('editor focus!')
      this.$refs.console.innerHTML =
        'editor focus!<br>' + this.$refs.console.innerHTML
    }
  },
  mounted () {
    this.$refs.console.innerHTML = ''
  }
}
</script>

<style scoped>
.root {
  width: 100%;
  height: fit-content;
  margin: 0px;
  paddiing: 0px;
}
.editor-toolbar {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 1050px;
  margin: 5px 0;
  align-items: flex-start;
  border: 1px solid #CCC !important;
}
.editor-content {
  width: 1050px;
  height: 400px !important;
  margin: 5px 0;
  background-color: #FFFFFF;
  overflow: auto;
  border: 1px solid #CCC !important;
}
.console {
  height: 270px;
  width: 1016px;
  margin: 15px 0;
  padding: 15px;
  border: 2px solid #909399;
  border-radius: 2px;
  background-color: #FFFFFF;
  overflow: auto;
  line-height: 22px;
}
</style>
