<template>
  <div class="root">
    <h1> Custom Toolbar Layout </h1>
    <Editor
      v-model="content"
      v-slot:default="editor"
      useMarkdownShortcuts>
      <button
        style="cursor:pointer;"
        @click="showSecondLine=!showSecondLine">
        {{ showSecondLine ? "Less" : "More"}} Functions
      </button>
      <editor-toolbar
        :useDefaultTitle="true"
        :editor="editor">
        <div class="func-line">
          <span class="func-group">
            <editor-toolbar-item func="print"/>
            <editor-toolbar-item func="export-html"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="undo"/>
            <editor-toolbar-item func="redo"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="size"/>
            <editor-toolbar-item func="font"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="bold"/>
            <editor-toolbar-item func="italic"/>
            <editor-toolbar-item func="underline"/>
            <editor-toolbar-item func="strike"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="color"/>
            <editor-toolbar-item func="background"/>
          </span>
        </div>
        <div class="func-line"
          :style="showSecondLine ? {} : {display: 'none'}">
          <span class="func-group">
            <editor-toolbar-item func="header"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="align-left"/>
            <editor-toolbar-item func="align-center"/>
            <editor-toolbar-item func="align-right"/>
            <editor-toolbar-item func="align-justify"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="blockquote"/>
            <editor-toolbar-item func="code-block"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="list-ordered"/>
            <editor-toolbar-item func="list-bullet"/>
            <editor-toolbar-item func="list-check"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="indent-minus"/>
            <editor-toolbar-item func="indent-plus"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="subscript"/>
            <editor-toolbar-item func="superscript"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="link"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="clean"/>
          </span>
        </div>
      </editor-toolbar>
      <editor-content
        :editor="editor">
      </editor-content>
    </Editor>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      content: '<h1>Initial Content</h1>',
      showSecondLine: false
    }
  },
  methods: {
  },
  created () {
  }
}
</script>

<style scoped>
.root {
  width: 100%;
  height: fit-content;
  margin: 0px;
  paddiing: 0px;
}
.editor {
  width: fit-content;
  height: fit-content;
}
.editor-toolbar {
  width: 700px;
  margin: 5px 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #CCC !important;
}
.func-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px 0 2px 0;
}
.func-group {
  padding: 0 5px 0 5px;
  border-right: solid #9A9A9A 1px;
}
.editor-content {
  display: none;
  width: 700px;
  height: 500px !important;
  margin: 5px 0;
  background-color: #FFFFFF;
  overflow: auto;
  border: 1px solid #CCC !important;
}
</style>
