<template>
  <div class="root">
    <h1> Custom Toolbar Icon </h1>
    <Editor
      v-model="content"
      v-slot:default="editor"
      useMarkdownShortcuts>
      <editor-toolbar
        useDefaultTitle="en"
        :editor="editor">
        <editor-toolbar-item func="export-html">
          <img src="../assets/file.png">
        </editor-toolbar-item>
        <editor-toolbar-item func="undo">
          <span>Undo</span>
        </editor-toolbar-item>
        <editor-toolbar-item func="redo"/>
        <editor-toolbar-item func="blockquote">
          <img src="../assets/quotation.png">
        </editor-toolbar-item>
        <editor-toolbar-item func="code-block">
          <img src="../assets/developer.png">
        </editor-toolbar-item>
        <editor-toolbar-item func="list-ordered"/>
        <editor-toolbar-item func="list-bullet"/>
        <editor-toolbar-item func="list-check"/>
        <editor-toolbar-item func="indent-minus"/>
        <editor-toolbar-item func="indent-plus"/>
        <editor-toolbar-item func="clean">
          <img src="../assets/eraser.png">
        </editor-toolbar-item>
        <editor-toolbar-item func="bold"/>
        <editor-toolbar-item func="italic"/>
        <editor-toolbar-item func="underline"/>
        <editor-toolbar-item func="strike"/>
        <editor-toolbar-item func="subscript"/>
        <editor-toolbar-item func="superscript"/>
      </editor-toolbar>
      <editor-content :editor="editor">
      </editor-content>
    </Editor>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      content: '<h1>Initial Content</h1>'
    }
  },
  methods: {
  },
  created () {
  }
}
</script>

<style scoped>
.root {
  width: 100%;
  height: fit-content;
  margin: 0px;
  paddiing: 0px;
}
.editor-toolbar {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 700px;
  margin: 5px 0;
  align-items: flex-start;
  border: 1px solid #CCC !important;
}
.editor-content {
  display: none;
  width: 700px;
  height: 500px !important;
  margin: 5px 0;
  background-color: #FFFFFF;
  overflow: auto;
  border: 1px solid #CCC !important;
}
.icon-developer {
}
.icon-eraser {
}
.icon-file {
}
.quotation {
}
</style>
