<template>
  <div class="root">
    <h1> Custom Icon Title </h1>
    <Editor
      v-model="content"
      v-slot:default="editor"
      useMarkdownShortcuts>
      <editor-toolbar
        useDefaultTitle="en"
        :editor="editor">
        <editor-toolbar-item func="print"/>
        <editor-toolbar-item func="export-html"/>
        <editor-toolbar-item func="undo"/>
        <editor-toolbar-item func="redo"/>
        <editor-toolbar-item title="Awsome Text size" func="size"/>
        <editor-toolbar-item title="Custom Font" func="font"/>
        <editor-toolbar-item title="粗粗粗粗粗體" func="bold"/>
        <editor-toolbar-item :useDefaultTitle="false" func="italic"/>
        <editor-toolbar-item :useDefaultTitle="false" func="underline"/>
        <editor-toolbar-item :useDefaultTitle="false" func="strike"/>
        <editor-toolbar-item func="color"/>
        <editor-toolbar-item func="background"/>
        <editor-toolbar-item useDefaultTitle="zh" func="align-left"/>
        <editor-toolbar-item useDefaultTitle="zh" func="align-center"/>
        <editor-toolbar-item useDefaultTitle="zh" func="align-right"/>
        <editor-toolbar-item useDefaultTitle="zh" func="align-justify"/>
      </editor-toolbar>
      <editor-content
        :editor="editor">
      </editor-content>
    </Editor>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      content: '<h1>Initial Content</h1>'
    }
  }
}
</script>

<style scoped>
.root {
  width: 100%;
  height: fit-content;
  margin: 0px;
  paddiing: 0px;
}
.editor-toolbar {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 700px;
  margin: 5px 0;
  align-items: flex-start;
  border: 1px solid #CCC !important;
}
.editor-content {
  display: none;
  width: 700px;
  height: 500px !important;
  margin: 5px 0;
  background-color: #FFFFFF;
  overflow: auto;
  border: 1px solid #CCC !important;
}
</style>
