<template>
  <div class="root">
    <h1> Insert Media </h1>
    <Editor
      v-model="content"
      v-slot:default="editor"
      useMarkdownShortcuts
      @image-removed="handleImageRemoved"
      @image-added="handleImageAdded">
      <editor-toolbar
        useDefaultTitle="en"
        :editor="editor">
        <editor-toolbar-item func="print"/>
        <editor-toolbar-item func="export-html"/>
        <editor-toolbar-item func="undo"/>
        <editor-toolbar-item func="redo"/>
        <editor-toolbar-item func="header"/>
        <editor-toolbar-item func="align-left"/>
        <editor-toolbar-item func="align-center"/>
        <editor-toolbar-item func="align-right"/>
        <editor-toolbar-item func="align-justify"/>
        <editor-toolbar-item func="list-ordered"/>
        <editor-toolbar-item func="list-bullet"/>
        <editor-toolbar-item func="list-check"/>
        <editor-toolbar-item func="indent-minus"/>
        <editor-toolbar-item func="indent-plus"/>
        <editor-toolbar-item func="clean"/>
        <editor-toolbar-item func="size"/>
        <editor-toolbar-item func="font"/>
        <editor-toolbar-item func="bold"/>
        <editor-toolbar-item func="italic"/>
        <editor-toolbar-item func="underline"/>
        <editor-toolbar-item func="strike"/>
        <editor-toolbar-item func="color"/>
        <editor-toolbar-item func="background"/>
        <editor-toolbar-item func="link"/>
        <editor-toolbar-item func="image"/>
        <editor-toolbar-item func="video"/>
      </editor-toolbar>
      <editor-content :editor="editor">
      </editor-content>
    </Editor>
  </div>
</template>

<script>
import { API } from '../api/api.js'

export default {
  components: {},
  data () {
    return {
      content: '<h1 style="text-align: center;">Initial Content</h1><p><a href="https://www.youtube.com/watch?v=DS2sP8CDLas&amp;list=RDsNJm7TOpyqA&amp;index=14" rel="noopener noreferrer" target="_blank">https://www.youtube.com/watch?v=DS2sP8CDLas&amp;list=RDsNJm7TOpyqA&amp;index=14</a></p><p><br></p><iframe class="ql-video" frameborder="0" allowfullscreen="true" src="https://www.youtube.com/embed/fDWwaY3QMKk?showinfo=0"></iframe><p><br></p><p><img src="./resource/download?AN=999&amp;series_no=0&amp;image_no=0&amp;tag=Screenshot from 2020-01-20 11-23-28&amp;format=png"></p>',
      paperStyle: {
        paper: 'A4',
        padding: {
          top: '1cm',
          right: '1.5cm',
          bottom: '1cm',
          left: '1.5cm'
        }
      }
    }
  },
  methods: {
    handleImageRemoved (image) {
      console.log('handleImageRemoved -> image')
    },
    async handleImageAdded (file, insertEmbed) {
      let name = file.name.split('.').slice(0, -1).join('.')
      let fmt = file.name.split('.').slice(-1)[0]
      API.upload(name, file, fmt).then((res) => {
        let url = this.getUrl(name, fmt)
        // to be updated
        insertEmbed(url, url) /* id, url */
      })
    },
    getUrl (name, fmt) {
      return './resource/download?AN=999&series_no=0&image_no=0&tag=' + name + '&format=' + fmt
    }
  }
}
</script>

<style scoped>
.root {
  width: 100%;
  height: fit-content;
  margin: 0px;
  paddiing: 0px;
}
.editor-toolbar {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  width: 1050px;
  margin: 5px 0;
  align-items: flex-start;
  border: 1px solid #CCC !important;
}
.editor-content {
  width: 1050px;
  height: 500px !important;
  margin: 5px 0;
  background-color: #FFFFFF;
  overflow: auto;
  border: 1px solid #CCC !important;
}
</style>
