<template>
  <div class="root">
    <h1> Demo Everything </h1>
    <Editor
      v-model="content"
      v-slot:default="editor"
      ref="editorRef"
      useMarkdownShortcuts
      :editable="editor_enable"
      style="height:50%;overflow:hidden;"
      @focus="onEditorFocus"
      @blur="onEditorBlur"
      @text-change="handleTextChange"
      @editor-change="handleEditorChange"
      @selection-change="handleSelectionChange"
      @image-removed="handleImageRemoved"
      @image-added="handleImageAdded">
      <editor-toolbar
        useDefaultTitle="en"
        :editor="editor">
        <div class="func-line">
          <span class="func-group">
            <button @click="editor_enable = !editor_enable">Lock</button>
          </span>
          <span class="func-group">
            <editor-toolbar-item :useDefaultTitle="false" func="print"/>
            <editor-toolbar-item func="export-html"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="undo">
              <span>Undo</span>
            </editor-toolbar-item>
            <editor-toolbar-item func="redo"/>
          </span>
        </div>
        <div class="func-line">
          <span class="func-group">
            <editor-toolbar-item func="header"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="align-left"/>
            <editor-toolbar-item func="align-center"/>
            <editor-toolbar-item title="右" func="align-right"/>
            <editor-toolbar-item func="align-justify"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="blockquote"/>
            <editor-toolbar-item func="code-block"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item useDefaultTitle="zh" func="list-ordered"/>
            <editor-toolbar-item useDefaultTitle="zh" func="list-bullet"/>
            <editor-toolbar-item useDefaultTitle="zh" func="list-check"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="indent-minus"/>
            <editor-toolbar-item func="indent-plus"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="clean">
              <span style="width: fit-content">clean</span>
            </editor-toolbar-item>
          </span>
        </div>
        <div class="func-line">
          <span class="func-group">
            <editor-toolbar-item func="size"/>
            <editor-toolbar-item func="font"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="bold" title="bold"/>
            <editor-toolbar-item func="italic"/>
            <editor-toolbar-item func="underline"/>
            <editor-toolbar-item func="strike"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="color">
              <button>Pick color</button>
            </editor-toolbar-item>
            <editor-toolbar-item func="background"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="subscript"/>
            <editor-toolbar-item func="superscript"/>
          </span>
          <span class="func-group">
            <editor-toolbar-item func="link"/>
            <editor-toolbar-item func="image"/>
            <editor-toolbar-item func="video"/>
          </span>
          <button @click="addHello">Add Hello</button>
        </div>
      </editor-toolbar>
      <editor-content :editor="editor" style="height:calc( 100% - 102px );overflow:hidden;">
      </editor-content>
    </Editor>
    <div class="display" zoom="1" align="center">
      <editor-preview
        :paper="paperStyle"
        :content="content">
      </editor-preview>
    </div>
  </div>
</template>

<script>
import { API } from '../api/api.js'

export default {
  components: {},
  data () {
    return {
      editor_enable: true,
      // content: '<h1>Initial Content</h1>',
      content: '<h1 style="text-align: center;">Initial Content</h1><p><br></p><p><strong>fd<em>gfg</em></strong><strong style="color: rgb(230, 0, 0);"><em>fd</em></strong><em style="color: rgb(230, 0, 0);"><u>fdf</u></em>dfdfdf<span style="background-color: rgb(255, 255, 0);">d</span><s style="background-color: rgb(255, 255, 0);">fdf</s></p><blockquote>fgfggfg</blockquote><pre class="ql-syntax" spellcheck="false">$ bash sudo rm -rf </pre><ol><li>fdf</li><li>2</li><li>3</li></ol><p><a href="https://www.youtube.com/watch?v=DS2sP8CDLas&amp;list=RDsNJm7TOpyqA&amp;index=14" rel="noopener noreferrer" target="_blank">https://www.youtube.com/watch?v=DS2sP8CDLas&amp;list=RDsNJm7TOpyqA&amp;index=14</a></p><p><br></p><p><img src="./resource/download?AN=999&amp;series_no=0&amp;image_no=0&amp;tag=Screenshot from 2020-01-20 11-23-28&amp;format=png"></p><p>deref <span class="ql-font-serif">fgfggfg </span><span class="ql-font-serif ql-size-huge">fgd</span><sub class="ql-font-serif ql-size-huge">g</sub><span class="ql-font-serif ql-size-huge">f</span><sup class="ql-font-serif ql-size-huge">g</sup></p><p style="text-align: right;">fg</p><p class="ql-indent-1">rgfg</p><p class="ql-indent-2">fg</p><ul><li>q</li><li>w</li><li>e</li><li>r</li><li><br></li></ul>',
      paperStyle: {
        paper: 'A4',
        padding: {
          top: '1cm',
          right: '1.5cm',
          bottom: '1cm',
          left: '1.5cm'
        }
      }
    }
  },
  methods: {
    addHello (event) {
      this.content = this.content + '<p>Hello</p>'
      this.$refs.editorRef.updateContent(this.content)
    },
    saveContent: function () {
      console.log(this.content)
    },
    handleTextChange (obj) {
      console.log('TCL: handleTextChange')
    },
    handleEditorChange (obj) {
      console.log('TCL: handleEditorChange')
    },
    handleSelectionChange (obj) {
      console.log('TCL: handleSelectionChange')
    },
    onEditorBlur (quill) {
      console.log('editor blur!')
    },
    onEditorFocus (quill) {
      console.log('editor focus!')
    },
    handleImageRemoved (image) {
      console.log('handleImageRemoved -> image')
    },
    async handleImageAdded (file, insertEmbed) {
      let name = file.name.split('.').slice(0, -1).join('.')
      let fmt = file.name.split('.').slice(-1)[0]
      API.upload(name, file, fmt).then((res) => {
        let url = this.getUrl(name, fmt)
        // to be updated
        insertEmbed(url, url) /* id, url */
      })
    },
    getUrl (name, fmt) {
      return './resource/download?AN=999&series_no=0&image_no=0&tag=' + name + '&format=' + fmt
    }
  },
  created () {
  }
}
</script>

<style scoped>
.root {
  width: 100%;
  height: calc( 100% - 28px );
  margin: 0px;
  paddiing: 0px;
}
.edit-region {
  max-width: 800px;
}
.preview {
  padding: 12px 15px;
  overflow-y: auto;
  width: 800px;
  text-align: left;
}
.func-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px 0 2px 0;
}
.func-group {
  padding: 0 15px 0 15px;
  border-right: solid #9A9A9A 1px;
}
.display {
  width: 900px;
  height: 40%;
  overflow: scroll;
  border: 1px #9A9A9A solid;
  background-color: #E2E2E2;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}
.display[align="center"] {
  justify-content: center;
}
.display:not([zoom="1"]) > div {
  transform: scale(1.5);
  transform-origin: 0 0;
  display: block;
  position: relative;
}
</style>

<style scoped>
.editor {
  width: 900px;
  background-color: #FFFFFF;
}
.editor-toolbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #CCC !important;
}
.editor-content {
  border: 1px solid #CCC !important;
}
.editor-toolbar-item {
  min-width: fit-content !important;
}
</style>

<style>
.editor-content pre {
  max-width: fit-content !important;
}
.editor-preview pre {
  max-width: fit-content;
}
</style>
