<template>
  <el-container
    class="root">
    <el-aside
      width="200px"
      class="menu">
      <el-menu
        background-color="#545C64"
        text-color="#FFFFFF"
        active-text-color="#FFD04B"
        router>
        <el-menu-item
          v-for="(obj, i) in menuObj"
          :index="obj.name"
          :key="i"
          :route="obj"
          @click="handleItemClick(obj)">
          <span>{{ obj.name }}</span>
        </el-menu-item>
      </el-menu>
    </el-aside>
    <el-main
      class="main">
      <Split>
        <SplitArea :size=100>
          <router-view></router-view>
        </SplitArea>
        <!--
        <SplitArea id=codeArea :size="0">
          <pre><code>
            {{ codeText }}
          </code></pre>
        </SplitArea>
        -->
      </Split>
    </el-main>
  </el-container>
</template>

<script>
import { Split, SplitArea } from 'vue-split-panel'

export default {
  name: 'Menu',
  components: { Split, SplitArea },
  data () {
    return {
      menuObj: Array.from(this.$router.options.routes[0].children),
      codeText: ''
    }
  },
  methods: {
    handleItemClick (obj) {
      console.log(obj)
      /*
      let sc = document.createElement('script')
      sc.type = 'text/javascript'
      sc.id = '__tmp_script'
      sc.src = './DemoFull.vue'
      this.$nextTick(() => {
        console.log(sc.innerHTML)
      })
       */
    }
  },
  created () {
  }
}
</script>

<style scoped>
.root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.menu {
  height: 100%;
  background-color: #545C64;
}
.menu >>> .el-menu {
  border: 0px;
}
.main {
  height: 100%;
  background-color: #FFF5ED;
  padding: 0px;
}
.split.split-horizontal {
  padding: 20px;
  overflow: auto;
}
.split.split-horizontal:last-child {
  /*background-color: #FFFFFF;*/
}
.split > pre {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.split > pre > code {
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

</style>
